@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap');

.testimonials{
    width: 100vw;
    height: 80vh;
}
.testimonials-container{
    background-image: url("https://images.squarespace-cdn.com/content/v1/56c90a98d51cd438176dae8d/1630246177229-U0UWW8PHXN54UDYFY927/Sbumerang_identity_design.jpg?format=1000w");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
}
.testimonials-content{
    /* background-color: red; */
    justify-content: center;
    align-items: center;
}
.testimonials-heading{
    font-family: "Passions Conflict";
    font-size: 50px;
    color: rgb(200, 200, 200);
}
.testimonials-subHeading{
    font-weight: 900;
    color: white;
    font-size: 25px;
}
.testimony{
    color: rgb(200, 200, 200);
    text-transform: capitalize;
    font-weight: 500;
}
.testimonial-name{
    color: white;
    font-weight: 600;
    font-size: larger;
    margin-top: 2rem;
}
.testimonial-occupation{
    color: rgb(198, 198, 198) ;
    font-size: larger;
    font-weight: 500;
}
.testimonials-slider{
    /* background-color: aqua; */
    width: 45rem;
    text-align: center;
}
.testimonials-card{
    /* background-color: blueviolet; */
    margin-top: 4rem;
    line-height: 20px;
    width: 100%;
}
.testimonial-img{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    height: 140px;
    width: 140px;
}
.testimonial-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
